.message {
  align-items: center;
  text-align: center;
  font-size: 6vw;
  color: #141c3a;
}
.messge-small {
  font-size: 3vw;
}
.background {
  background-color: #fff;
}
.back-button {
  padding: 1rem 1rem;
  font-size: 1rem t;
  border: 2px solid #fff;
  outline: none;
  cursor: pointer;
  background: #b25ce7;
  color: #fff;
  text-decoration: none !important;
}
.align-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.back-button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
  color: #fff !important;
}
